langchain==0.1.20
langchain-openai==0.1.7
langchain-community==0.0.38
langserve==0.2.2
fastapi==0.112.0
faiss-cpu==1.8.0.post1
sse-starlette==2.1.3
pydantic==1.10.13
PyPDF2==3.0.1
bs4==0.0.2
pypdf==4.3.1
python-slugify==8.0.4
langchain-chroma==0.1.0
lark==1.1.9
tiktoken==0.7.0
pycryptodome==3.20.0