langchain==0.2.0
langchain-openai=0.1.7
langchain-community==0.2.0
langserve==0.2.0
fastapi==0.111.0
faiss-cpu==1.8.0
sse_starlette==2.1.0
pydantic==1.10.13
PyPDF2==3.0.1
bs4==0.0.2
pypdf==4.2.0
python-slugify==8.0.4
langchain-chroma==0.1.1
lark==1.1.9
tiktoken==0.7.0
pycryptodome==3.20.0