<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="../static/js/script.js"></script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap">
  <link rel="stylesheet" type="text/css" href="../static/css/style.css">
  <title>WahlOmat</title>
</head>

<body>
  <div id="chromecontent">
    <div id = "main">
      <header> 
        <h1>WahlOmat</h1>
        <form action="/" method="POST">  
          <input type="text" name="q" id="req" > 
          <button class="submit" type="submit">Search</button>
        </form>
      </header>

      <main>
        <div class="container-sm">
          <div class="logo-claim logo-claim--medium">
          <div>
          <img src="/../media/images/haupt.png" alt="Bildmarke Wahl-O-Mat" width="954" height="123">
          </div>
          </div>
          </div>

          
      </main>

 
  <p>
    {{ question }}
  </p>
  <p>
    {{ response }}
  </p>


    </div>
  </div>
</body>
</html>
